<div class="footer">
    <span data-dojo-attach-point="commandLineButton"
          class="commandLineButton"></span>
    <span data-dojo-attach-point="viewCode"
          class="viewCode"></span>    
    <div data-dojo-type="scopt/layout/HierarchyCommandLine"
         data-dojo-attach-point="comandLine"         
         data-dojo-props="hierarchyContainerId: 'hierarchyContainer'" 
         class="commandLine"></div>
    <p>${messages.copyright}</p>
    <p class="version">${messages.version}</p>
</div>