<div data-dojo-type="dijit/TooltipDialog">
    <div class="dijitDialogPaneContentArea">
        <div class="formRow">
            <span class="label smallWidth">
                <label for="${id}_tenant">${messages.tenant}</label> 
            </span>
            <span class="input">
                <select id="${id}_tenant" style="width: 240px;"
                        data-dojo-props="labelAttr: 'tenant_name'"
                        data-dojo-attach-point="tenantInput"
                        data-dojo-type="dijit/form/Select">
                </select>
            </span>
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <span class="floatLeft">
            <button data-dojo-type="dijit/form/Button"
                    data-dojo-attach-event="onClick: _createNew">${messages.buttonCreateNew}</button>
        </span>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="selectButton"
                data-dojo-attach-event="onClick: _select">${messages.buttonSelect}</button>
    </div>
</div>
