<div>
    <div class="dijitDialogPaneContentArea">
        <form data-dojo-attach-point="form" data-dojo-type="dijit/form/Form">
            <div class="formRow">
                <span class="label smallWidth">
                    <label for="${id}_contactMediaTypeInput">${messages.type}</label> 
                </span>
                <span class="input">
                    <select id="${id}_contactMediaTypeInput" name="media_type.id"
                            data-dojo-attach-point="contactMediaTypeInput"
                            data-dojo-type="dijit/form/Select"
                            data-dojo-props="labelAttr: 'name'">
                    </select>
                </span>
            </div>
            <div class="formRow">
                <span class="label smallWidth">
                    <label for="${id}_contactNoteInput">${messages.note}</label> 
                </span>
                <span class="input">
                    <input id="${id}_contactNoteInput" type="text" name="note"
                           data-dojo-type="dijit/form/TextBox"
                           data-dojo-props="trim: true"/>
                </span>
            </div>
            <div class="formRow marginTop">
                <span class="label smallWidth">
                    <label for="${id}_contactInput">${messages.contact}</label> 
                </span>
                <span class="input">
                    <input id="${id}_contactInput" type="text" name="media_contact.contact"
                           data-dojo-type="dijit/form/TextBox"
                           data-dojo-props="trim: true"/>
                </span>
            </div>
        </form>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="createButton"
                data-dojo-attach-event="onClick: _create">${messages.buttonCreate}</button>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="updateButton"
                data-dojo-attach-event="onClick: _update">${messages.buttonUpdate}</button>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="deleteButton"
                data-dojo-attach-event="onClick: _delete">${messages.buttonDelete}</button>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick: _hide">${messages.buttonCancel}</button>
    </div>
</div>